* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

.container-lg {
  max-width: 1348px;
  width: 100%;
  padding: 0 16px;
  margin: 0 auto;
}

.container {
  max-width: 1348px;
  width: 100%;
  padding: 0 16px;
  margin: 0 auto;
}

.text-lg {
  font-size: 48px;
  font-weight: 700;
}

.text-md {
  font-size: 28px;
  font-weight: 500;
}

.text-sm {
  font-size: 16px;
  font-weight: 500;
}

body {
  min-height: 500vh;
}

li {
  list-style: none;
}

input {
  outline: none;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 25px;
}
.nav b {
  font-weight: 600;
  font-size: 20px;
}
.nav .nav2__collection,
.nav .nav__collection {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.nav .nav__collection {
  flex: 1;
}
.nav .nav__icons {
  display: flex;
  align-items: center;
  gap: 15px;
}

.product__wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
.product__wrap b {
  font-size: 38px;
}
.product__wrap .container {
  max-width: 1348px;
  width: 100%;
  padding: 0 16px;
  margin: 0 auto;
}
.product__wrap .container {
  border: 1px solid red;
}
.product__wrap .product__nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.product__wrap img {
  width: 100%;
}
.product__wrap .product__card__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 15px;
}
.product__wrap .product__card__wrap .card {
  width: 400px;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  gap: 10px;
  position: relative;
  overflow: hidden;
  border: 1px solid rgba(221, 221, 221, 0.7725490196);
  box-shadow: 1px 1px 15px 0.5px rgba(220, 220, 220, 0.459);
  border-radius: 20px;
}
.product__wrap .product__card__wrap .card .img {
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}
.product__wrap .product__card__wrap .card i {
  position: absolute;
  top: 10px;
  left: 10px;
  background: dodgerblue;
  border-radius: 25px;
  padding: 2px 9px;
  z-index: 2;
}
.product__wrap .product__card__wrap .card button {
  position: absolute;
  bottom: -30px;
  background: black;
  padding: 5px 15px;
  color: wheat;
  border-radius: 20px;
}
.product__wrap .product__card__wrap .card:hover button {
  transition: all ease 0.5s;
  position: absolute;
  bottom: 20px;
  background: black;
  padding: 5px 15px;
  color: wheat;
  border-radius: 20px;
}
.product__wrap .product__card__wrap .card:hover p,
.product__wrap .product__card__wrap .card:hover span {
  color: transparent;
}
.product__wrap .product__card__wrap .card:hover img {
  transform: scale(1.1);
  transition: all ease 0.4s;
}

.hero__wrap {
  padding-top: 50px;
  padding: 40px 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.hero__wrap .hero__nav {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
.hero__wrap .hero__nav .hero__collection {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}/*# sourceMappingURL=main.css.map */