.hero__wrap {
  padding-top: 50px;
  padding: 40px 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  p {
    text-align: center;
  }
  .hero__desc,
  .title {
    font-size: 30px;
  }
  button {
    background: black;
    padding: 5px 15px;
    color: wheat;
    border-radius: 20px;
  }
  .hero__nav {
    .hero__btn {
      display: flex;
      gap: 20px;
      align-items: center;
      a {
        text-decoration: underline;
      }
    }
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    .hero__collection {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;
      .hero__item:hover {
        background: rgba(0, 0, 0, 0.233);
        padding: 2px 5px;
        border-radius: 20px;
        transition: all ease 0.4s;
        border: 1px solid rgb(61, 42, 165);
      }
    }
  }
}
@media (max-width: 702px) {
  .hero__wrap {
    padding-top: 50px;
    padding: 40px 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    .hero__desc,
    .title {
      font-size: 30px;
    }
    .hero__nav {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 20px;
      .hero__collection {
        flex-wrap: wrap-reverse;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        .hero__item:hover {
          background: rgba(0, 0, 0, 0.233);
          padding: 2px 5px;
          border-radius: 20px;
          transition: all ease 0.4s;
          border: 1px solid rgb(61, 42, 165);
        }
      }
    }
  }
}
@media (max-width: 414px) {
  .hero__wrap {
    padding-top: 50px;
    padding: 20px 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    .hero__desc,
    .title {
      font-size: 20px;
    }
    .hero__nav {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 20px;
      .hero__collection {
        flex-wrap: wrap-reverse;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        .hero__item:hover {
          background: rgba(0, 0, 0, 0.233);
          padding: 2px 5px;
          border-radius: 20px;
          transition: all ease 0.4s;
          border: 1px solid rgb(61, 42, 165);
        }
      }
    }
  }
}
